<ion-header>
  <ion-toolbar>

    <ion-title>Lista de Pacientes</ion-title>

    <ion-buttons slot="primary">
      <ion-button slot="icon-only" (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <crudion-list [list]="objects"
                [fields]="fields" 
                [searchOptions]="searchOptions" 
                (search)="searchBy($event)" 
                (clicked)="visualizar($event)"
                (order)="orderBy($event)">
  </crudion-list>

  <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
    </ion-item>
    
</ion-content>