<ion-toolbar>
    <ion-buttons slot="primary">
        <ion-button>
            <span class="textBtn">FILTROS</span>
            <ion-icon name="options"></ion-icon>
        </ion-button>
        <ion-button (click)="sort()">
            <span class="textBtn">ORDENAR</span>
            <ion-icon src="/assets/custom-icons/sort.svg"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-searchbar debounce="500" (ionChange)="searchField($event)" animated placeholder="{{ searchOptions.message }}"></ion-searchbar>
</ion-toolbar>

<div class="table-responsive-vertical shadow-z-1" margin-top>
    <table id="table" class="table table-mc-light-blue table-bordered">
        <thead>
            <tr>
                <th *ngFor="let field of fields">{{ field | titlecase}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doc of docs" (click)="emit(doc)">
                <td *ngFor="let field of fields" data-title="{{field | titlecase}}">{{ doc[field] }}</td>
            </tr>
        </tbody>
    </table>
</div>