<form [formGroup]="formGroup">
    <div *ngFor="let control of formControls" [hidden]="control.name === 'id'">

        <ion-item>
            <ion-label position="floating">{{ control.name |titlecase }}</ion-label>

            <ion-input *ngIf="control.htmlType !== 'date'; else datePicker" [type]="control.htmlType" [formControlName]="control.name"
                clearInput>
            </ion-input>

            <ng-template #datePicker>
                <ion-datetime [pickerOptions]="control.dateOptions.format" [formControlName]="control.name"></ion-datetime>
            </ng-template>
        </ion-item>
        <error-messages [control]="formGroup.controls[control.name]"></error-messages>
    </div>
    <div *ngIf="!edit; else editable">
        <ion-button expand="block" (click)="createEmit()" [disabled]="!formGroup.valid">Criar</ion-button>
    </div>
    <ng-template #editable>
        <ion-button expand="block" color="secondary" block (click)="updateEmit()" *ngIf="formControls" [disabled]="formGroup.invalid || equals()">Atualizar</ion-button>
        <ion-button expand="block" color="danger" block (click)="deleteEmit()" *ngIf="formControls">Remover</ion-button>
    </ng-template>
</form>